.avatars {
  --avatar-size: 100px;
  --column-size: calc(var(--avatar-size) / 2);

  display: grid;
  /* Very smart way to keep things overlap on 1/2 size through grid */
  grid-template-columns: repeat(10, var(--column-size));
}

.avatar {
  width: var(--avatar-size);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100vw;
  border: 5px solid white;
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);
}
