.avatars {
  --avatar-count: 10;
  --avatar-size: 70px;
  /* don't change this */
  --column-size: calc(var(--avatar-size) / 2);

  display: grid;
  /* Very smart way to keep things overlap on 1/2 size through grid */
  grid-template-columns: repeat(var(--avatar-count), var(--column-size));

  /* Don't add transition on things like margin, padding etc, which is low performance animation. Do it on grid layout.*/
  transition: grid-template-columns 500ms;
}

/* focus-within is for tab function */
.avatars:hover,
.avatars:focus-within {
  --column-size: calc(var(--avatar-size) * 1.5);
}

.avatar {
  width: var(--avatar-size);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100vw;
  border: 5px solid white;
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);

  transition: scale 500ms;
}

.avatar:hover,
.avatar:focus {
  scale: 2;
}
