.avatars {
  --avatar-count: 10;
  --avatar-size: 80px;
  --transition-duration: 500ms;

  /* don't change this */
  --column-size: calc(var(--avatar-size) / 2);

  display: grid;
  /* Very smart way to keep things overlap on 1/2 size through grid */
  grid-template-columns: repeat(var(--avatar-count), var(--column-size));

  /* Don't add transition on things like margin, padding etc, which is low performance animation. Do it on grid layout.*/
  transition: grid-template-columns var(--transition-duration);
  /* Only add the transition delay when it's on off hover because we have transition-delay 0ms below.
     So when it's off hover, it will scale back to original size before the whole container collapses. */
  transition-delay: var(--transition-duration);

  max-width: 80vw;
  padding-block: 4rem;
  overflow-x: auto;
}

/* focus-within is for tab function */
.avatars:hover,
.avatars:focus-within {
  --column-size: calc(var(--avatar-size) * 1.5);
  transition-delay: 0ms; /* anything for timing, you will have to add the unit in it, cannot be transition-delay: 0 */
}

.avatar {
  width: var(--avatar-size);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100vw;
  border: 5px solid white;
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);

  transition: scale var(--transition-duration);
}

.avatar:hover,
.avatar:focus {
  scale: 2;

  /* The one we hovering on should be always in front from its before and after sibling */
  z-index: 2;
}

/* Select the .avator slibing that is before and after the current element */
/*.avatar:hover + .avatar,
.avatar:has(+ .avatar:hover) {
  scale: 1.5;
  border-color: lime;
}*/
/* We don't need to add the selector for support because :has got pretty good coverage in browsers support already
   But the reason this is a good practise is that we won't want to have after sibling working and not before sibling.
   So if things are meant to be together, group them within the same @support selector.
*/
@supports selector(:has(+ *)) {
  .avatar:hover + .avatar,
  .avatar:has(+ .avatar:hover) {
    scale: 1.5;
    border-color: lime;
  }
}
